body {
  font-family: 'Roboto';
}

#loginpage{
  background: rgb(73, 74, 95);
}

html {
  height: 100%;
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(242, 200, 76, 0.753), rgba(242, 152, 74, 0.753));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(242, 200, 76, 0.774), rgba(242, 152, 74, 0.712)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ------------------------------------------ PINBOARD PAGE ------------------------------------------ */

h2.content-separator {
  font-size: 24px;
  text-transform: uppercase;
  color:  white;
  font-style: italic;
  margin: 15px 0;
  font-weight: 700;
  opacity: 0.5;
}

h2.content-separator.middle {
  margin-top: 30px;
}

.row.pinned-posts {
  margin-bottom: 0;
}

.card-action.single {
  display: flex;
  justify-content: flex-end;
}

.card-action.voting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 24px;
}

.card-action.voting,
.card-action.state {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-action.voting.sidebar {
  justify-content: center;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}

.card-action.state {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.card-content.with-comments {
  padding-bottom: 12px;
}

.card-content.with-comments.post {
  min-height: 201px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content.sidebar {
  padding: 12px 24px;
}

.card-image.post {
  max-height: 201px;
  overflow: hidden;
}

.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

.card-title.image-post {
  padding: 5px !important;
  margin: 19px;
  background: rgba(0,0,0,0.3);
  border-radius: 12px;
}

.card-comments {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  color: #bbb;
  margin-top: 6px;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-open,
a.btn-flat.vote {
  margin-right: 0 !important;
}

span.score {
  color: #ffab40;
  pointer-events: none;
}

a.brand-logo.pinboard {
  font-family: 'Roboto';
  font-weight: 300;
  margin-left: 15px;
}

nav.nav-container.pinboard {
  background: #546e7a !important;
}

@media(max-width: 1660px) {
  .container.pinboard {
    width: 100%;
  }
}

.card-description {
  max-height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-description.post-preview {
  color: wheat;
  font-style: italic;
}

.card-description.sidebar {
  min-height: 0;
}

.card-state {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
  font-weight: 700;
  /* border-top-right-radius: 8px;
  border-top-left-radius: 8px; */
  background-color: rgba(172,255,72,0.8);
  height: 5px;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  box-shadow: #546e7a;
}

i.material-icons.title {
  margin-right: 15px;
  margin-left:-3px;
  font-size: 35px;
  color: rgba(172,255,72,0.9);
}

.logged-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logout-link {
  color: lightblue;
  text-decoration: underline;
  font-size: 12px;
  display: inline-block;
}

.image-post-form-container {
  width: 100%;
  background: #fafafa;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#submit-image-post {
  display: none;
}

/* ------------------------------------------ POST PAGE - Gino ------------------------------------------ */

.post-container {
  max-width: 1000px;
  margin: 75px auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.content-container p {
  font-size: 18px;
}

.content-container p iframe {
  width: 100%;
}

h1.post-title {
  font-size: 42px;
  font-weight: 100;
  margin: 0 0 24px 0;
}

h3.img-caption {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  margin: 8px 0;
}

.image-post {
  text-align: center;
}

.card.image-post {
  width: fit-content;
  margin: 0 auto;
}

img.content {
  max-width: 100%;
  max-height: 450px;
}

#toolbox {
  margin-top: 15px;
}

.card-panel.post-type {
  cursor: pointer;
}

.post-actions {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid lightslategray;
  padding-top: 24px;
}

.post-actions a {
  color: #ffab40;
  text-transform: uppercase;
  margin: 0 15px;
  cursor: pointer;
  float: right;
  /* max-width: 100%; */
  /* max-height: 450px; */
}

.post-tags {
  display: flex;
  justify-content: flex-end;
}

.post-tags .chip {
  opacity: 0.8;
  cursor: default;
}

.post-tags .chip:hover {
  transition: 0.3s;
  opacity: 1;
}

.card.post {
  min-height: 246px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.separator {
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
}

h2.content-separator {
  font-style: normal;
  color: black;
  font-size: 20px;
  font-weight: 300;
}

/* ------------------------------------------ POST PAGE ------------------------------------------ */



.content{
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.time{
  display: flex;
  /*color: #8E8E8E;*/
}

.main-content{
  padding-left: 59px;
  padding-right: 59px;
}

.icon-size{
  /*width: 21px;*/
  margin-right: 10px;
}

.icon{
  margin-left: 63%;
  display: flex;
  margin-top: 75px;
  max-width: 200px;
}

.login{
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  width: 36%;
  height: 45%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.line{
  border: 1px groove gray;
}

#username, #firstname, #Lastname, #Email, #password, #repassword{
  width: 71%;
}

/*#password{*/
  /*width: 71%;*/
/*}*/

/*#Email{*/
  /*width: 71%;*/
/*}*/

.user{
  margin-top: 23px;
}

.userr{
  margin-top: 20px;
}

#submit{
  /*width: 100px;*/
  /*height: 50px;*/
  /*font-size: 23px;*/
  /*border-radius: 11px;*/
  /*color: #00c0ff;*/
  /*border: 1px groove lightgray;*/
  /*outline:none;*/
  /*cursor:pointer;*/
  margin-top: 20px;
}

#register{
  /*font-size: 21px;*/
  /*border-radius: 11px;*/
  /*color: #00c0ff;*/
  /*border: 1px groove lightgray;*/
  /*outline: none;*/
  cursor: pointer;
  margin-right: 47%;
  float: left;
  margin-left: 9%;
  width: 89px;
  margin-top: 10px;
}

#forget{
  /*font-size: 21px;*/
  /*border-radius: 11px;*/
  /*color: #00c0ff;*/
  /*border: 1px groove lightgray;*/
  /*outline: none;*/
  cursor: pointer;
  float: right;
  margin-right: 9%;
  width: 82px;
  margin-top: 10px;
}

.register{
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  width: 36%;
  height: 63%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.comment{
  height: 100px;
  width: 100%;
  border-top: 1px groove lightgray;
  border-bottom: 1px groove lightgray;
  overflow: scroll;
}

.portrait{
  height: 90px;
  width: 90px;
  float: left;
  margin-top: 19px;
}

.comment-user{
  margin-top: 10px;
  margin-left: 122px;
}

.comment-content{
  margin-top: 4px;
  margin-left: 122px;
}

.user-name{
  color: rgba(0,0,0,.87);
  font-size: 24px;
}

.comment-box, .comment-submit{
  display: none;
}

.comment-submit{
  left: 126px;
  top: 6px;
}

.cleanfloat::after{display: block; clear: both; content:""; visibility: hidden; height: 0;}

/* ul li{list-style:none; float:left; font-size:30px; margin:5px; color:#ccc; cursor:pointer;}
.hs,.cs{color:#f00;} */































