requirement.txt
/venv/*
*/__pycache__/*
*.pyc
*.pyo
settings.json
.DS_Store
*.sqlite3
.idea*.sqlite3
.idea/workspace.xml
workspace.xml
shared/migrations/0*.py
blogs/migrations/0*.py
quiz/migrations/0*.py
