{% extends "blogs/base.html" %}
{% load staticfiles %}
{% block content %}
<!--<h1 class="white-text">User Profile</h1>-->
       
<div class="row" style="margin-top:30px;">
    <div class="col s12 m12">
        
        <div class="card horizontal" style="height: 210px;">
                {% if profile.avatar %}
                <a href="#user" class="modal-trigger"><img class="circle" style="width:200px;height:200px;padding:5px;" src='{{ request.session.avatar }}' id="user-profile-avatar"></a>
                <!--<img class="circle upImage" src="{{ profile.avatar }}" style="width:180px;height:180px;">-->
                {% else %}
                <a href="#user" class="modal-trigger"><img class="circle" style="width:200px;height:200px;padding:5px;" src="{% static '/images/empty-profile.png' %}" id="user-profile-avatar"></a>
                <!--<img class="circle upImage" src="{% static '/images/empty-profile.png' %}" style="width:180px;height:180px;">-->
                {% endif %}
            <div class="card-content">
                <!--<span class="card-title">{{profile.user}}</span>-->
                <ul style="margin-top: -11px;">
                    <li><h5 class="value"><p>{{profile.user}}</p></h5></li>
                    <li><label>Email</label><div class="value"><p>{{profile.user.email}}</p></div></li>
                    <li><label>Score</label><div class="value"><p>{{profile.score}}</p></div></li>
                    <li>
                        <label>Total Answer / Correct Answer</label>
                        <div class="value"><p>{{profile.total_answer_num}} / {{profile.correct_answer_num}}</p></div>
                    </li>
                </ul>

            </div>
          
        </div>

    </div>
</div>


<div class="separator">
    <i class="material-icons" style="color:black">favorite</i>&nbsp;
    <h2 class="content-separator">Favorite Posts</h2>
</div>
<div class="row">
    {% for post in profile.favorites %}

    {% if "Post" in post.kind %}
        <!-- Blog post card -->
        <div class="col s12 m6 l4 sortable-card" data-sort="{{ post.score }}">
            <div class="card blue-grey darken-1 question changecolor">
                <div class="card-content with-comments white-text post">
                    <div class="content-with-utility">
                        <div class="card-utility">
                            <i class="material-icons title">event_note</i>
                        </div>
                        <div class="card-preview-content">
                            <span class="card-title">{{ post.title }}</span>
                            <div class="card-description post-preview">
                                <p>{{ post.detail|striptags|safe|truncatechars:90 }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-comments">{{ post.comment_count_string }}</div>
                </div>
                <div class="card-action voting">
                    <div class="score-container">
                        <span id="score-{{ post.id }}" class="score">{{ post.score }}</span>
                    </div>
                    <a class="card-open waves-effect waves-light" href="/blogs/{{ post.id }}">Open</a>
                </div>
            </div>
        </div>
        
    {% elif "Question" in post.kind %}
        <!-- Question card -->
        <div class="col s12 m6 l4 sortable-card" data-sort="{{ post.score }}">
            <div class="card blue-grey darken-1 question changecolor">
                <div class="card-content with-comments white-text" style="min-height: 201px;display: flex;flex-direction: column;justify-content: space-between;">

                        <div class="content-with-utility">
                            <div class="card-utility">
                                <!-- <i class="material-icons title">event_note</i> -->
                                <i class="material-icons title far fa-question-circle" style="font-size: 32px"></i>
                            </div>
                            <div class="card-preview-content">
                                <span class="card-title">{{ post.title }}</span>
                                {% if 'Unsolved' in post.question_status %}
                                    <span class="new badge question-state unsolved" data-badge-caption=" ">{{ post.question_status }}</span>
                                {% else %}
                                    <span class="new badge question-state" data-badge-caption=" ">{{ post.question_status }}</span>
                                {% endif %}                                        
                            </div>

                        </div>
                        <div class="card-comments">{{ post.response_count_string }}</div>
                    
                    <!-- <span class="card-title" style="display:flex;"><i class="material-icons title">question_answer</i>{{ post.title }}</span>
                    <div class="card-comments">{{ post.comment_count_string }}</div> -->
                </div>
                <div class="card-action voting">
                    <div class="score-container">
                        <span id="score-{{ post.id }}" class="score">{{ post.score }}</span>
                    </div>
                    <a class="card-open waves-effect waves-light" href="/blogs/{{ post.id }}">Open</a>
                </div>
            </div>
        </div>
    {% elif "Image" in post.kind %}

        <!-- Image post card -->
        <div class="col s12 m6 l4 sortable-card" data-sort="{{ post.score }}">
            <div class="card blue-grey darken-1 changecolor">
                <div class="card-content with-comments white-text post" style="background: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)), url('{{ post.detail }}'); background-size: cover">
                    <div class="content-with-utility">
                        <div class="card-utility">
                            <i class="material-icons title">event_note</i>
                        </div>
                        <div class="card-preview-content">
                            <span class="card-title">{{ post.title }}</span>
                        </div>
                    </div>
                    <div class="card-comments">{{ post.comment_count_string }}</div>
                </div>
                <div class="card-action voting">
                    <div class="score-container">
                        <span id="score-{{ post.id }}" class="score">{{ post.score }}</span>
                    </div>
                    <a class="card-open waves-effect waves-light" href="/blogs/{{ post.id }}">Open</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}

</div>

<div class="separator">
    <i class="material-icons" style="color:black">whatshot</i>&nbsp;
    <h2 class="content-separator">Top Five Posts</h2>
</div>
<div class="row">
    {% for post in profile.top_five_posts %}
        {% if "Post" in post.kind %}
        <!-- Blog post card -->
        <div class="col s12 m6 l4 sortable-card" data-sort="{{ post.score }}">
            <div class="card blue-grey darken-1 post changecolor">
                <div class="card-content with-comments white-text post">
                    <div class="content-with-utility">
                        <div class="card-utility">
                            <i class="material-icons title">event_note</i>
                            {% if request.user.is_superuser %}
                            <i class="material-icons title fa-clickable fas fa-thumbtack tooltipped" data-position="left" data-tooltip="Click to Pin" id="pin-btn-{{post.id}}"></i>
                            {% endif %}
                            {% if post.id in request.user.userprofile.favorites_id %}
                                <i class="material-icons title fa-clickable fas fa-heart tooltipped" data-position="left" data-tooltip="Click to Unsave" id="like-btn-{{post.id}}"></i>
                            {% else %}
                                <i class="material-icons title fa-clickable far fa-heart tooltipped" data-position="left" data-tooltip="Click to Save" id="like-btn-{{post.id}}"></i>
                            {% endif %}
                        </div>
                        <div class="card-preview-content">
                            <span class="card-title">{{ post.title }}</span>
                            <div class="card-description post-preview">
                                <p>{{ post.detail|striptags|safe|truncatechars:90 }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-comments">{{ post.comment_count_string }}</div>
                </div>
                <div class="card-action voting">
                    <div class="score-container">
                        <a class="btn-flat vote" style="padding-left: 0"><i id="downvote-{{ post.id }}" post_id="{{ post.id }}" class="material-icons">arrow_downward</i></a>
                        <span id="score-{{ post.id }}" class="score">{{ post.score }}</span>
                        <a class="btn-flat vote"><i id="upvote-{{ post.id }}" post_id="{{ post.id }}" class="material-icons">arrow_upward</i></a>
                    </div>
                    <a class="card-open waves-effect waves-light" href="/blogs/{{ post.id }}">Open</a>
                </div>
            </div>
        </div>
        
    {% elif "Question" in post.kind %}
        <!-- Question card -->
        <div class="col s12 m6 l4 sortable-card" data-sort="{{ post.score }}">
            <div class="card blue-grey darken-1 question changecolor">
                <div class="card-content with-comments white-text" style="min-height: 201px;display: flex;flex-direction: column;justify-content: space-between;">

                        <div class="content-with-utility">
                            <div class="card-utility">
                                <!-- <i class="material-icons title">event_note</i> -->
                                <i class="material-icons title far fa-question-circle" style="font-size: 32px"></i>
                                {% if request.user.is_superuser %}
                                <i class="material-icons title fa-clickable fas fa-thumbtack tooltipped" data-position="left" data-tooltip="Click to Pin" id="pin-btn-{{post.id}}"></i>
                                {% endif %}
                                {% if post.id in request.user.userprofile.favorites_id %}
                                    <i class="material-icons title fa-clickable fas fa-heart tooltipped" data-position="left" data-tooltip="Click to Unsave" id="like-btn-{{post.id}}"></i>
                                {% else %}
                                    <i class="material-icons title fa-clickable far fa-heart tooltipped" data-position="left" data-tooltip="Click to Save" id="like-btn-{{post.id}}"></i>
                                {% endif %}                                        
                            </div>
                            <div class="card-preview-content">
                                <span class="card-title">{{ post.title }}</span>
                                {% if 'Unsolved' in post.question_status %}
                                    <span class="new badge question-state unsolved" data-badge-caption=" ">{{ post.question_status }}</span>
                                {% else %}
                                    <span class="new badge question-state" data-badge-caption=" ">{{ post.question_status }}</span>
                                {% endif %}                                        
                            </div>

                        </div>
                        <div class="card-comments">{{ post.response_count_string }}</div>
                    
                    <!-- <span class="card-title" style="display:flex;"><i class="material-icons title">question_answer</i>{{ post.title }}</span>
                    <div class="card-comments">{{ post.comment_count_string }}</div> -->
                </div>
                <div class="card-action voting">
                    <div class="score-container">
                        <a class="btn-flat vote" style="padding-left: 0"><i id="downvote-{{ post.id }}" post_id="{{ post.id }}" class="material-icons">arrow_downward</i></a>
                        <span id="score-{{ post.id }}" class="score">{{ post.score }}</span>
                        <a class="btn-flat vote"><i id="upvote-{{ post.id }}" post_id="{{ post.id }}" class="material-icons">arrow_upward</i></a>
                    </div>
                    <a class="card-open waves-effect waves-light" href="/blogs/{{ post.id }}">Open</a>
                </div>
            </div>
        </div>
    {% elif "Image" in post.kind %}

        <!-- Image post card -->
        <div class="col s12 m6 l4 sortable-card" data-sort="{{ post.score }}">
            <div class="card blue-grey darken-1 changecolor">
                <div class="card-content with-comments white-text post" style="background: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)), url('{{ post.detail }}'); background-size: cover">
                    <div class="content-with-utility">
                        <div class="card-utility">
                            <i class="material-icons title">event_note</i>
                            {% if request.user.is_superuser %}
                                <i class="material-icons title fa-clickable fas fa-thumbtack tooltipped" data-position="left" data-tooltip="Click to Pin" id="pin-btn-{{post.id}}"></i>
                            {% endif %}
                            {% if post.id in request.user.userprofile.favorites_id %}
                                <i class="material-icons title fa-clickable fas fa-heart tooltipped" data-position="left" data-tooltip="Click to Unsave" id="like-btn-{{post.id}}"></i>
                            {% else %}
                                <i class="material-icons title fa-clickable far fa-heart tooltipped" data-position="left" data-tooltip="Click to Save" id="like-btn-{{post.id}}"></i>
                            {% endif %}
                        </div>
                        <div class="card-preview-content">
                            <span class="card-title">{{ post.title }}</span>
                        </div>
                    </div>
                    <div class="card-comments">{{ post.comment_count_string }}</div>
                </div>
                <div class="card-action voting">
                    <div class="score-container">
                        <a class="btn-flat vote" style="padding-left: 0"><i id="downvote-{{ post.id }}" post_id="{{ post.id }}" class="material-icons">arrow_downward</i></a>
                        <span id="score-{{ post.id }}" class="score">{{ post.score }}</span>
                        <a class="btn-flat vote"><i id="upvote-{{ post.id }}" post_id="{{ post.id }}" class="material-icons">arrow_upward</i></a>
                    </div>
                    <a class="card-open waves-effect waves-light" href="/blogs/{{ post.id }}">Open</a>
                </div>
            </div>
        </div>
    {% endif %}

    {% endfor %}

</div>


<div class="separator">
    <i class="material-icons" style="color:black">event_note</i>&nbsp;
    <h2 class="content-separator">Posted Article</h2> 
</div>
<div class="row">
{% for post in article %}
    <!-- Blog post card -->
    <div class="col s12 m6 l4 sortable-card" data-sort="{{ post.score }}">
        <div class="card blue-grey darken-1 question changecolor">
            <div class="card-content with-comments white-text post">
                <div class="content-with-utility">
                    <div class="card-utility">
                        <i class="material-icons title">event_note</i>
                    </div>
                    <div class="card-preview-content">
                        <span class="card-title">{{ post.title }}</span>
                        <div class="card-description post-preview">
                            <p>{{ post.detail|striptags|safe|truncatechars:90 }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-comments">{{ post.comment_count_string }}</div>
            </div>
            <div class="card-action voting">
                <div class="score-container">
                    <span id="score-{{ post.id }}" class="score">{{ post.score }}</span>
                </div>
                <a class="card-open waves-effect waves-light" href="/blogs/{{ post.id }}">Open</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<div class="separator">
    <i class="material-icons" style="color:black">image</i>&nbsp;
    <h2 class="content-separator">Posted Images</h2>
</div>
<div class="row">
    {% for post in images %}

    <!-- Image post card -->
    <div class="col s12 m6 l4 sortable-card" data-sort="{{ post.score }}">
        <div class="card blue-grey darken-1 changecolor">
            <div class="card-content with-comments white-text post" style="background: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)), url('{{ post.detail }}'); background-size: cover">
                <div class="content-with-utility">
                    <div class="card-utility">
                        <i class="material-icons title">event_note</i>
                    </div>
                    <div class="card-preview-content">
                        <span class="card-title">{{ post.title }}</span>
                    </div>
                </div>
                <div class="card-comments">{{ post.comment_count_string }}</div>
            </div>
            <div class="card-action voting">
                <div class="score-container">
                    <span id="score" class="score">{{ post.score }}</span>
                </div>
                <a class="card-open waves-effect waves-light" href="/blogs/{{ post.id }}">Open</a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

<div class="separator">
    <i class="material-icons" style="color:black">question_answer</i>&nbsp;
    <h2 class="content-separator">Posted Question</h2>
</div>

<div class="row">
    {% for post in qna %}
    <div class="col s12 m6 l4 sortable-card" data-sort="{{ post.score }}">
        <div class="card blue-grey darken-1 question changecolor">
            <div class="card-content with-comments white-text" style="min-height: 201px;display: flex;flex-direction: column;justify-content: space-between;">

                    <div class="content-with-utility">
                        <div class="card-utility">
                            <!-- <i class="material-icons title">event_note</i> -->
                            <i class="material-icons title far fa-question-circle" style="font-size: 32px"></i>
                        </div>
                        <div class="card-preview-content">
                            <span class="card-title">{{ post.title }}</span>
                            {% if 'Unsolved' in post.question_status %}
                                <span class="new badge question-state unsolved" data-badge-caption=" ">{{ post.question_status }}</span>
                            {% else %}
                                <span class="new badge question-state" data-badge-caption=" ">{{ post.question_status }}</span>
                            {% endif %}
                        </div>

                    </div>
                    <div class="card-comments">{{ post.response_count_string }}</div>

                <!-- <span class="card-title" style="display:flex;"><i class="material-icons title">question_answer</i>{{ post.title }}</span>
                <div class="card-comments">{{ post.comment_count_string }}</div> -->
            </div>
            <div class="card-action voting">
                <div class="score-container">
                    <span id="score-{{ post.id }}" class="score">{{ post.score }}</span>
                </div>
                <a class="card-open waves-effect waves-light" href="/blogs/{{ post.id }}">Open</a>
            </div>
        </div>
    </div>
    {% endfor %}    
</div>

<div class="separator">
    <i class="material-icons" style="color:black">format_list_bulleted</i>&nbsp;
    <h2 class="content-separator">Quiz</h2>
</div>
<div class="row">
    {% for post in quiz %}


    <div class="col s12 m6 l4 sortable-card" data-sort="{{ post.score }}">
        <div class="card blue-grey darken-1 question changecolor">
            <div class="card-content with-comments white-text post">
                <div class="content-with-utility">
                    <div class="card-utility">
                        <i class="material-icons title">edit</i>
                    </div>
                    <div class="card-preview-content">
                        <span class="card-title">{{ post.title }}</span>
                        <div class="card-description post-preview">
                            <p>{{ post.detail|striptags|safe|truncatechars:90 }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-comments">{{ post.question_count_string }}</div>
            </div>
            <div class="card-action voting">
                <div class="score-container">
                    <span id="score-{{ post.id }}" class="score">{{ post.score }}</span>
                </div>
                <a class="card-open waves-effect waves-light" href="/quiz/{{ post.id }}">Open</a>
            </div>
        </div>
    </div>

    <!--<div class="col s12 m6 l3">-->
        <!--<div class="card blue-grey darken-1 post">-->
            <!--<div class="card-content with-comments white-text post">-->
                <!--<div>-->
                    <!--<span class="card-title">{{ qz.title }}</span>-->
                    <!--<div class="card-description post-preview">-->
                        <!--<p>{{ qz.detail|striptags|safe|truncatechars:90 }}</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!---->
            <!--</div>-->
            <!--<div class="card-action voting">-->

                <!--<a class="card-open" href="/quiz/{{ qz.id }}">Open</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    {% endfor %}    
    
</div>

{% endblock %}