{% extends "./base.html" %}

{% block content %}
    <form  method="post">
        {% csrf_token %}
        <div class="card-panel post-container">
            {{ form.as_p }}
            <button class="waves-effect waves-light btn-small orange lighten-1">submit</button>
        </div>
    </form>
    <script>
        document.getElementById('kind').value = 'Post';
        document.getElementById('user').value = "{{request.session.userid}}";

        $('input').attr('autocomplete', 'off');
    </script>
{% endblock %}