<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Pinboard</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Tinymce Text-Editor (Must be in Head Tag) -->
    {% load staticfiles %}
    <script src="{% static '/js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/tinymce/custom.js' %}" ></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  </head>
  <body>
    <div class="background">

      <!--<a id="menu" class="waves-effect waves-light btn btn-floating" ><i class="material-icons">menu</i></a>-->

      <div class="backtotop">
          <i class="fas fa-arrow-circle-up" style="color: white; font-size: 36px;"></i>
      </div>

      <!--&lt;!&ndash; Tap Target Structure &ndash;&gt;-->
      <!--<div class="tap-target" data-target="menu">-->
        <!--<div class="tap-target-content">-->
          <!--<h5>Title</h5>-->
          <!--<p>A bunch of text</p>-->
        <!--</div>-->
      <!--</div>-->

      <!-- side nav -->
      {% if request.session.username %}
        <ul id="slide-out" class="sidenav">
          <li><div class="user-view">
            <div class="background">
              <img src="https://i.imgur.com/G91dSvD.jpg">
            </div>
            {% if request.session.avatar %}
              <a href="#user" class="modal-trigger"><img class="circle" src='{{ request.session.avatar }}' id="user-avatar"></a>
            {% else %}
              <a href="#user" class="modal-trigger"><img class="circle" src="{% static '/images/empty-profile.png' %}" id="user-avatar"></a>
            {% endif %}
            <div class="profile-details-panel" style="background: rgba(255,255,255,0.6);border-radius: 8px;">
                <!--<a href="#email"><span class="black-text name">Mike</span></a>-->
                <a href="#name"><span class="black-text name">{{ request.session.username }}</span></a>
                <!--<a href="#email"><span class="black-text email">example@gmail.com</span></a>-->
              <a href="#email"><span class="black-text email">{{ request.session.useremail }}</span></a>
            </div>

          </div></li>
          <li><a class="waves-effect" href="/blogs/create"><i class="material-icons">add_box</i>Create Post</a></li>
          <li><a class="waves-effect modal-trigger" href="{% url 'shared:user_profile' request.user.userprofile.id %}"><i class="material-icons">account_box</i>My Profile</a></li>
          <li><a class="waves-effect modal-trigger" href="#modal1"><i class="material-icons">border_color</i>Manage Account</a></li>
          <li><div class="divider"></div></li>
          <li><a class="waves-effect" href="/blogs/logout"><i class="material-icons">exit_to_app</i>Logout</a></li>
        </ul>
      {% endif %}

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Change Password</h4>
          <form  method="post">
            <input type="password" placeholder="newpassword" class="newpassword">
            <input type="password" placeholder="confirm" class="renewpassword">
          </form>
          <div class="msgforreset1" style="color: red; display: none;">Please confirm the password</div>
          <div class="msgforreset2" style="color: red; display: none;">Successful</div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="waves-effect waves-light btn resetpassword">Submit</a>
        </div>
      </div>

      <!--Upload Avatar Modal-->
      <!--<form method="POST" action="{% url 'shared:user_avatar' %}">-->
      <div id="user" class="modal">
        <div class="modal-content">
          <h5 style="font-weight:100;text-align: center;margin-bottom: 24px">Upload Avatar</h5>
          <div class="row">
            <div class="col s12 m4">
              {% if request.session.avatar %}
                <img id='uploaded-avatar' src="{{request.session.avatar}}" style="width:180px;height:180px;">
              {% else %}
                <img id='uploaded-avatar' src="{% static '/images/empty-profile.png' %}" style="width:180px;height:180px;">
              {% endif %}
            </div>
            <div class="col s12 m8">
              <div class="row">
                <input name="avatar" accept="image/*" required="" id="id_avatar" autocomplete="off" type="file">
                <!--{{ form.as_p }}-->
              </div>
              <div class="row">
                <button type="submit" id="submit-avatar" class="waves-effect waves-light btn-small cyan lighten-1">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--leaderboard modal-->
      <div id="leaderboard-modal" class="modal modal-lg">
        <div class="modal-content">
          <h5 style="font-weight:100;text-align: center;margin-bottom: 24px">Leaderboard</h5>
          <ul id="leaderboard-table">
            {% for user in users %}
            <li class="card touch-leaderboard" id="user-{{user.id}}">
              <a href="{% url 'shared:user_profile' user.id %}">
              <div class="row">
                {% if user.avatar %}
                <img src="{{user.avatar}}" class="circle rounded float-left" style="height:80px;vertical-align:middle;padding:10px">
                {% else %}
                <img src="{% static '/images/empty-profile.png' %}" class="circle rounded float-left" style="height:80px;vertical-align:middle;padding:10px">
                {% endif %}
                <span>{{user.user.username}}</span>
                <span>correct answer / total answer: {{user.correct_answer_num}} / {{user.total_answer_num}}</span>
                <span>percentage: {{user.correct_answer_percentage}}</span>
                <span>score: {{user.score}}</span>
                <span>rank: {{user.rank}}</span>
              </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- nav bar -->
      <nav class="nav-container pinboard">
        <div class="nav-wrapper transparent">
          <a href="/" class="brand-logo pinboard"><i class="large material-icons">event_note</i>Pinboard</a>
          <!--{% if request.session.username %}-->
            <!--<form style="height: 100%;left: 300px;position: absolute;">-->
              <!--<div class="input-field">-->
                <!--<input id="search" type="search" required style="width: 404px;" placeholder="Start with # to search tags">-->
                <!--<label class="label-icon" for="search"><i class="material-icons" style="cursor: pointer;">search</i></label>-->
                <!--<i class="material-icons">close</i>-->
              <!--</div>-->
            <!--</form>-->
          <!--{% endif %}-->
          <ul class="right hide-on-med-and-down">
            {% if request.session.username %}
            <li><input id="search" type="search" required style="width: flex; width: 275px; color: white;" placeholder="Start with # to search tags"></li>
            <li><a class="waves-effect waves-light btn-small  orange lighten-1 modal-trigger" data-target="create-post-modal" href="#create-post-modal"><i class="material-icons right">add_box</i>Create Post</a></li>
            <li><a class="waves-effect waves-light btn-small  orange lighten-1" href="/quiz/"><i class="material-icons right">edit</i>Quiz Room</a></li>
            <li><a class="waves-effect waves-light btn-small  orange lighten-1 modal-trigger" data-target="leaderboard-modal" href="#leaderboard-modal"><i class="material-icons right">people</i>Leaderboard</a></li>
            {% endif %}
            {% if request.session.username and request.session.username.strip %}
              <li><span>Hello, {{ request.session.username }}&nbsp;</span></li>
            {% else %}
              <li><a class="waves-effect waves-light btn-flat white-text" style="margin-left: 0;margin-right: 0;" href="/blogs/register">Register</a></li>
              <li><a class="waves-effect waves-light btn-flat white-text" style="margin-left: 0;margin-right: 0;" href="/blogs/login">Login</a></li>
            {% endif %}
            <li><a href="#" data-target="slide-out" class="sidenav-trigger" style="display: block !important"><i class="material-icons">menu</i></a></li>
          </ul>
        </div>
      </nav>

      <!-- create-a-post modal -->
      <div id="create-post-modal" class="modal grey lighten-2" style="max-width: 600px;">
        <div class="modal-content" style="min-height: 200px;">
          <h5 style="font-weight:100;text-align: center;margin-bottom: 24px">What type of post would you like to create?</h5>
          <div style="display:flex;justify-content: space-evenly">
            <a href="/blogs/create">
              <div class="card-panel waves-light  waves-effect post-type amber" style="display:flex;align-items: center;justify-content: center;width:150px;height:125px">
                <i class="material-icons" style="color: white">event_note</i>
                <span class="white-text">&nbsp;Article</span>
              </div>
            </a>
            
            <div class="image-or-video" style="display: flex; flex-direction: column;justify-content: space-evenly">

                <a id="toggle-image-post-form">
                  <div class="card-panel waves-light waves-effect post-type cyan lighten-1" style="display:flex;align-items: center;justify-content: center;width:150px;height:55px;margin-bottom: 5px">
                      <i class="material-icons" style="color: white">insert_photo</i>
                    <span class="white-text">&nbsp;Image</span>
                  </div>
                </a>
                
                <a id="toggle-youtube-post-form">
                  <div class="card-panel waves-light waves-effect post-type red lighten-1" style="display:flex;align-items: center;justify-content: center;width:150px;height:55px;">
                    <i class="fab fa-youtube" style="color:white; font-size: 25px;"></i>
                    <span class="white-text">&nbsp;Youtube</span>
                  </div>
                </a>

            </div>

            <a href="/blogs/createQuestion">
              <div class="card-panel waves-light waves-effect post-type light-green lighten-1" style="display:flex;align-items: center;justify-content: center;width:150px;height:125px">
                <i class="material-icons" style="color: white">question_answer</i>
                <span class="white-text">&nbsp;Question</span>
              </div>
            </a>
          </div>

        </div>

        <div id="submit-image-post">
          <form style="margin: 0;" action="/blogs/createImagePost/" method="POST">
            {% csrf_token %}
            <div class="image-post-form-container">
              <input type="text" placeholder="Title" name="title" style="max-width: 200px">
              <input type="text" placeholder="Image URL" name="detail" style="max-width: 200px">
              <button type="submit" class="waves-effect waves-light btn-small cyan lighten-1">Submit</button>
            </div>
          </form>
        </div>

        <div id="submit-youtube-post">
          <form style="margin: 0;" action="/blogs/createYoutubePost/" method="POST">
            {% csrf_token %}
            <div class="image-post-form-container">
              <input type="text" placeholder="Title" name="title" style="max-width: 200px">
              <input type="text" placeholder="Youtube URL" name="detail" style="max-width: 200px">
              <button type="submit" class="waves-effect waves-light btn-small cyan lighten-1">Submit</button>
            </div>
          </form>
        </div>


        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
      </div>

      <div class="container pinboard">
        <div class="row">
            <div class="col s12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
      </div>

    </div>

    <!--<div class="backtotop">回到顶部</div>-->



    <script>
      document.getElementById('id_avatar').onchange = (e) => {uploadAvatar(e)};
      function uploadAvatar(event) {
        const [ file ] = event.target.files;

        const validFileTypes = [ 'image/jpeg', 'image/png', 'image/jpg' ];
        const valid = validFileTypes.find(type => type === file.type);

        if (!valid) return false;

        const reader = new FileReader();

        reader.onload = (e) => {
          const dataURL = e.target.result;
          let img = document.getElementById('uploaded-avatar');
          img.src = dataURL;
        };

        reader.readAsDataURL(file);
      }

      $('#search').keypress((e) => {
        if (e.target.value === '') {
            return;
        }

        if (e.keyCode === 13) {
          e.preventDefault();
          if (/^#/.test(e.target.value)) {
            window.location.replace(window.location.pathname + `?tags=${e.target.value.replace(/#/g, ',').replace(/^,/, '')}`);
          }
          else {
            window.location.replace(window.location.pathname + `?title=${e.target.value}`);
          }
        }
      });

      document.getElementById('submit-avatar').addEventListener('click', event => {
        fetch("{% url 'shared:user_avatar' %}", {
          method: 'POST',
          headers: { 'Content-Type': 'application/json', 'X-CSRFToken': "{{ csrf_token }}" },
          body: JSON.stringify({
            'avatar': document.getElementById('uploaded-avatar').src
          })
        }).then(res => res.json()).then(json => {
            if (json.message === 'Succeed') {
                document.getElementById('user-avatar').src=document.getElementById('uploaded-avatar').src;
                $('.modal').modal('close');
            }
        });
      });

      // initialize various handlers
      $(document).ready(() => {
        const options = { edge: 'right' };
        $('.sidenav').sidenav(options);
        // $('.sidenav').sidenav('open');
        $('.modal').modal();
        $('select').formSelect();
      });

      // handle pressing of upvote/downvote button
      $('.btn-flat.vote').click(event => {
        const postID = $(event.target).attr('post_id');
        let scoreValue = $(`#score-${postID}`).text(); 
        if (event.target.id.indexOf('upvote') > -1) {
          $(`#score-${postID}`).text(++scoreValue);
        } else if (event.target.id.indexOf('downvote') > -1) {
          $(`#score-${postID}`).text(--scoreValue);
        }

        //secondary effect, sort all the cards if necessary
        $('.sortable-card').sort((a, b) => {
          const scoreA = parseInt($(a).attr('data-sort'));
          const scoreB = parseInt($(b).attr('data-sort'));
          return (scoreA < scoreB) ? 1 : -1;
        }).appendTo('#top-posts-container');
      });

      //toggle image post form
      $('#toggle-image-post-form').click(event => {
        $('#submit-image-post').slideToggle('fast');
      });

      //toggle youtube form
      $('#toggle-youtube-post-form').click(event => {
        $('#submit-youtube-post').slideToggle('fast');
      });

      (function(d, t) {
        var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
        g.src = '//hnbutton.appspot.com/static/hn.min.js';
        s.parentNode.insertBefore(g, s);
      }(document, 'script'));


      $('.resetpassword').click(event => {

        console.log($('.newpassword').val());
        console.log($('#password').text());
        $.ajax({
          url: "/blogs/reset/",
          type: 'GET',
          data: {
            'newpassword': $('.newpassword').val(),
            'renewpassword': $('.renewpassword').val(),
            'password': $('#password').text()

           },
          success: function (data) {
              if (data == 'Done'){
                $(".msgforreset2").css("display","block");
                $(".msgforreset1").css("display","none");
              }else if ('Password is not matched'){
                $(".msgforreset1").css("display","block");
                $(".msgforreset2").css("display","none");
              }


          }
        })
      });


      function showTop()
      {
        var scrollTop=document.body.scrollTop;
        if (scrollTop > 300){
          $('.backtotop').css('display', 'block');
        }else{
          $('.backtotop').css('display', 'none');
        }

      }
      setInterval("showTop()","1000");

      var timer = null;

      $('.backtotop').click(event => {


          timer=setInterval(function(){
          var osTop=document.documentElement.scrollTop|| document.body.scrollTop;
          var ispeed=Math.floor(-osTop / 5);
          isTop = true;
          document.documentElement.scrollTop=document.body.scrollTop = osTop+ispeed;

          if(osTop==0){
            clearInterval(timer);
          }
        },30);

      })

    </script>

  </body>
</html>