{% extends "./post.html" %}

{% block comments %}

    <div class="container">
        <h3>Comments</h3>
        <div class="comment">
            <div class="portrait">
                <img src="/static/images/post.jpeg" alt="" >
            </div>
            <div class="comment-user">
                <span class="user-name">Mike</span>
                <span>30/09/2018</span>
            </div>
            <div class="comment-content">
                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua cillum in consequat consequat in culpa in anim.
            </div>
        </div>
    </div>

{% endblock %}