{% extends "./base.html" %}

{% block content %}
    <div class="separator"><i class="material-icons" style="color:black">person_pin</i>&nbsp;<h2 class="content-separator">Pinned Posts</h2></div>
    <div class="row pinned-posts">
        {% for post in latest_post_list %}
            {% if post.is_pinned %}
                {% if "Post" in post.kind %}

                    {% block article_post_card_pinned %}
                        {% include "./article_post_card.html" %}
                    {% endblock %}
                    
                {% elif "Question" in post.kind %}

                    {% block qestion_post_card_pinned %}
                        {% include "./question_post_card.html" %}
                    {% endblock %}

                {% elif "Image" in post.kind %}

                    {% block image_post_card_pinned %}
                        {% include "./image_post_card.html" %}
                    {% endblock %}

                {% elif "Youtube" in post.kind %}

                    {% block youtube_post_card_pinned %}
                        {% include "./youtube_post_card.html" %}
                    {% endblock %}

                {% endif %}
            {% endif %}
        {% endfor %}

    </div>

    <div class="separator" style="margin-top:0;">
        <!-- <hr style="width: 300px;margin:0;"> -->
        <i class="material-icons" style="color:black">stars</i>
        &nbsp;
        <h2 class="content-separator">Top Posts</h2>
    </div>
    <div id="top-posts-container" class="row" style="padding-bottom: 30px;">

        {% for post in latest_post_list %}
            {% if not post.is_pinned %}
                {% if "Post" in post.kind %}

                    {% block article_post_card %}
                        {% include "./article_post_card.html" %}
                    {% endblock %}
                    
                {% elif "Question" in post.kind %}

                    {% block question_post_card %}
                        {% include "./question_post_card.html" %}
                    {% endblock %}

                {% elif "Image" in post.kind %}

                    {% block image_post_card %}
                        {% include "./image_post_card.html" %}
                    {% endblock %}

                {% elif "Youtube" in post.kind %}

                    {% block youtube_post_card %}
                        {% include "./youtube_post_card.html" %}
                    {% endblock %}

                {% endif %}
            {% endif %}
        {% endfor %}

    </div>

    <script>

        // Vote a content
        function vote (content_id, value) {
            return fetch("{% url 'shared:vote' 9999999 %}".replace('9999999', content_id), {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json', 'X-CSRFToken': "{{ csrf_token }}" },
                body: JSON.stringify({
                    'vote': value
                })
            });
        }

        // Whether the content is already voted by this user
        function get_vote (content_id) {
            return fetch("{% url 'shared:vote' 9999999 %}".replace('9999999', content_id), {
                method: 'GET',
                headers: { 'Content-Type': 'application/json', 'X-CSRFToken': "{{ csrf_token }}" },
            });
        }

        //initialise tooltips
        $(document).ready(() => {
            $('.tooltipped').tooltip();
            {% for post in latest_post_list %}
                get_vote("{{ post.id }}")
                .then(res => res.json()).then(json => {
                    if (parseInt(json.exist) === 1) {
                        document.getElementById("upvote-{{post.id}}").parentNode.classList.add('disabled');
                        document.getElementById("downvote-{{post.id}}").parentNode.classList.add('disabled');
                    }
                });
            {% endfor %}
        });

        document.addEventListener('click', e => {
            console.log(e.target.id);

            // Save the post as favorite
            if (/^like-btn-/.test(e.target.id)) {
                let id = parseInt(e.target.id.match(/^like-btn-(\d+)$/)[1]);
                if (e.target.classList.contains('far')) {
                    fetch("{% url 'shared:user_like' 9999999 %}".replace('9999999', id), {
                        method: 'PUT',
                        headers: { 'Content-Type': 'application/json', 'X-CSRFToken': "{{ csrf_token }}" }
                    }).then(res => res.json()).then(json => {
                        if (json.message === 'Succeed') {
                            console.log(json);
                            e.target.classList.replace('far', 'fas');
                            e.target.setAttribute('data-tooltip', "Click to Unsave")
                        }
                    });
                }
                else {
                    fetch("{% url 'shared:user_unlike' 9999999 %}".replace('9999999', id), {
                        method: 'PUT',
                        headers: { 'Content-Type': 'application/json', 'X-CSRFToken': "{{ csrf_token }}" }
                    }).then(res => res.json()).then(json => {
                        if (json.message === 'Succeed') {
                            console.log(json);
                            e.target.classList.replace('fas', 'far');
                            e.target.setAttribute('data-tooltip', "Click to Save")
                        }
                    });
                }
            }

            // Pin a post (for moderators only)
            if (/^pin-btn-\d+$/.test(e.target.id)) {
                let id = parseInt(e.target.id.match(/^pin-btn-(\d+)$/)[1]);
                if (e.target.getAttribute('data-tooltip') === 'Click to Pin') {
                    fetch("{% url 'blogs:pin' 9999999 %}".replace('9999999', id), {
                        method: 'PUT',
                        headers: { 'Content-Type': 'application/json', 'X-CSRFToken': "{{ csrf_token }}" }
                    }).then(res => {
                        if (res.status === 200) {
                            e.target.setAttribute('data-tooltip', "Click to Unpin");
                            document.location.reload();
                        }
                    });
                }
                else {
                    fetch("{% url 'blogs:unpin' 9999999 %}".replace('9999999', id), {
                        method: 'PUT',
                        headers: { 'Content-Type': 'application/json', 'X-CSRFToken': "{{ csrf_token }}" }
                    }).then(res => {
                        if (res.status === 200) {
                            e.target.setAttribute('data-tooltip', "Click to Pin");
                            document.location.reload();
                        }
                    });
                }
            }

            // Upvote a content
            if (/^upvote-\d+$/.test(e.target.id)) {
                let id = parseInt(e.target.id.match(/^upvote-(\d+)$/)[1]);
                vote(id, 1)
                .then(res => res.json()).then(json => {
                    if ('score' in json) {
                        console.log(json);
                        document.getElementById(`upvote-${id}`).parentNode.classList.add('disabled');
                        document.getElementById(`downvote-${id}`).parentNode.classList.add('disabled');
                        document.getElementById(`score-${id}`).innerHTML = json.score;
                        console.log(e.target.parentNode.parentNode.parentNode.parentNode.parentNode);
                        e.target.parentNode.parentNode.parentNode.parentNode.parentNode.setAttribute('data-sort', json.score);
                        $('.sortable-card').sort((a, b) => {
                          const scoreA = parseInt($(a).attr('data-sort'));
                          const scoreB = parseInt($(b).attr('data-sort'));
                          return (scoreA < scoreB) ? 1 : -1;
                        }).appendTo('#top-posts-container');
                    }
                });
            }

            // Downvote a content
            if (/^downvote-\d+$/.test(e.target.id)) {
                let id = parseInt(e.target.id.match(/^downvote-(\d+)$/)[1]);
                vote(id, -1)
                .then(res => res.json()).then(json => {
                    if ('score' in json) {
                        document.getElementById(`upvote-${id}`).parentNode.classList.add('disabled');
                        document.getElementById(`downvote-${id}`).parentNode.classList.add('disabled');
                        document.getElementById(`score-${id}`).innerHTML = json.score;
                        e.target.parentNode.parentNode.parentNode.parentNode.parentNode.setAttribute('data-sort', json.score);
                        $('.sortable-card').sort((a, b) => {
                          const scoreA = parseInt($(a).attr('data-sort'));
                          const scoreB = parseInt($(b).attr('data-sort'));
                          return (scoreA < scoreB) ? 1 : -1;
                        }).appendTo('#top-posts-container');
                    }
                });
            }
        });

        $(".changecolor").mouseover(function(){
            // $(this).addClass( "z-depth-3" );
            $(this).css('box-shadow', '0 8px 15px 2px rgba(0,0,0,0.4)');
        });
        $(".changecolor").mouseout(function(){
            // $(this).removeClass( "z-depth-3" );
            $(this).css('box-shadow', '0 2px 2px 0 rgba(0,0,0,0.2)');
        });
    </script>

{% endblock %}