{% extends "./base.html" %}

{% block content %}

<form action="/login/" method="post">

    <div class="login">

        <h3>User Login</h3>

        <div class="line"></div>

        <div class="user">
            <!--<span>usrername</span>-->
            <input type="text" name="username" placeholder="username" id="username">
        </div>

        <div class="userr">
            <!--<span>password</span>-->
            <input type="password" name="password" placeholder="password" id="password">
        </div>

        {% if password_is_wrong %}
        <div style="color: red">
            Username is not right or password is not right
        </div>
        {% endif %}

        <div>
            <input type="submit" id="submit">
        </div>

        <div>
            <div id="register">register</div>
            <div id="forget">forget</div>
        </div>

    </div>
</form>

{% endblock %}