{% extends "./base.html" %}

{% block content %}

<form  method="post">
    {% csrf_token %}

    <!--{{error}}-->

    <div class="login">

        <h3>User Login</h3>

        <div class="line"></div>

        <div class="user">
            <!--<input type="text" name="username" placeholder="username" id="username">-->
            {{ form.username }}
        </div>

        <div class="user">
            <!--<input type="password" name="password" placeholder="password" id="password">-->
            {{ form.password }}
        </div>

        <div style="display: block; color: red">
            {{ error }}
        </div>

        <!--{% if error %}-->
        <!--<div style="color: red; display: block;">-->
            <!--&lt;!&ndash;Username is not right or password is not right&ndash;&gt;-->
            <!--fdsfds-->
            <!--{{ error }}-->
        <!--</div>-->
        <!--{% endif %}-->

        <!--<div>-->
            <!--<input type="submit" id="submit">-->
        <!--</div>-->

        <button class="waves-effect waves-light btn" type="submit" name="action" id="submit" style="margin-right: 30px;">Login</button>

        <!--<br>-->

        <a class="waves-effect waves-light btn" href="/blogs/register" id="try-register">Register</a>


        <!--<div>-->
            <!--<a href="/blogs/register/" id="register">register</a>-->
            <!--<div id="forget">forget</div>-->
        <!--</div>-->

    </div>
</form>

<script>
    let message = '{{ message }}';
    if (! (message.length === 0) ) {
        alert(message);
    }
</script>

{% endblock %}