{% extends "./base.html" %}

{% block content %}

<form  method="post">
    {% csrf_token %}

    <div class="register">

        <h3>User Sign Up</h3>

        <div class="line"></div>

        <div class="userr">
            {{ form.username }}
        </div>

        <div style="display: block; color: red" class="email-error">
            {{ user_name_message }}
        </div>

        <div class="userr">
            {{ form.email }}
        </div>

        <div style="display: none; color: red" class="email-error">
            Enter right email format
        </div>

        <div style="display: block; color: red" class="email-error">
            {{ email_message }}
        </div>

        <div class="userr">
            {{ form.password }}
        </div>

        <div class="userr">
            {{ form.repassword }}
        </div>

        <div style="display: block; color: red" class="email-error">
            {{ password_message }}
        </div>

        <div style="display: none; color: red" class="password-error">
            Please enter the same passwrod
        </div>

        <div>
            <!--<input type="submit" id="submit">-->
            <button class="waves-effect waves-light btn" type="submit" name="action" id="submit">REGISTER</button>
        </div>

        <a class="waves-effect waves-light btn" href="/blogs/login" id="try-login">LOGIN</a>

    </div>

</form>


<script>
    $(function(){
        $("#Email").bind('input porpertychange',function(){
            var regEmail = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/
            if (regEmail.test($(this).val()) == false){
                $('.email-error').css("display","block");
            }
            if (regEmail.test($(this).val())){
                $('.email-error').css("display","none");
            }
        });


        $("#repassword").bind('input porpertychange',function(){
            if($('#repassword').val() != $('#password').val() ){
                $('.password-error').css("display","block");
            }

            if($('#repassword').val() == $('#password').val() ){
                $('.password-error').css("display","none");
            }
        });
    });

//    let message = '{{ message }}';
//    if (! (message.length === 0) ) {
//        alert(message);
//    }

</script>
{% endblock %}