{% extends "./base.html" %}

{% block content %}

<form action="/register/" method="post">

    <div class="register">

        <h3>User Sign Up</h3>

        <div class="line"></div>

        <!--<div class="user">-->
        <!--<input type="text" name="Firstname" placeholder="First name" id="firstname">-->
        <!--</div>-->

        <div class="userr">
            <input type="text" name="username" placeholder="Username" id="Lastname">
        </div>

        <div class="userr">
            <input type="email" name="email" placeholder="Email" id="Email" oninput="OnInput (event)">
        </div>
        <div style="display: none; color: red" class="email-error">
            Enter right email format
        </div>

        <div class="userr">
            <input type="password" name="password" placeholder="Password" id="password">
        </div>

        <div class="userr">
            <input type="password" name="repassword" placeholder="Confirm password" id="repassword">
        </div>

        <div style="display: none; color: red" class="password-error">
            Please enter the same passwrod
        </div>

        <div>
            <input type="submit" id="submit">
        </div>

    </div>

</form>


<script>
    $(function(){
        $("#Email").bind('input porpertychange',function(){
            var regEmail = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/
            if (regEmail.test($(this).val()) == false){
                $('.email-error').css("display","block");
            }
            if (regEmail.test($(this).val())){
                $('.email-error').css("display","none");
            }
        });


        $("#repassword").bind('input porpertychange',function(){
            if($('#repassword').val() != $('#password').val() ){
                $('.password-error').css("display","block");
            }

            if($('#repassword').val() == $('#password').val() ){
                $('.password-error').css("display","none");
            }
        });
    });
</script>
{% endblock %}